/* purgecss start ignore */
@tailwind base;

/* exemplo h1 { @apply text-xl; } */

@tailwind components;
/* purgecss end ignore */

/* custom @apply here */

@tailwind utilities;

html#simfaz_site {
  /* tamanho base (o sistema se baseia em rem's) */
  font-size: 18pt;
}

/* my utilities here */
.text-shadow-hover {
  transition: all 0.3s;
}

.text-shadow-hover:hover {
  /* color: black; */
  text-shadow: 0 0 1px #8f8c87;
}
