/* purgecss start ignore */
@tailwind base;

/* exemplo h1 { @apply text-xl; } */

@tailwind components;

/* custom @apply here */

html {
  overflow-x: hidden;
}

h1,
h2 {
  @apply uppercase;
  @media (min-width: 1640px) {
    font-size: 100px;
    line-height: 117px;
  }
  @media (min-width: 1280px) {
    font-size: 74px;
    line-height: 80px;
  }
  font-size: 55px;
  line-height: 68px;

  @media (max-width: 640px) {
    font-size: 40px;
    line-height: 45px;
  }
}

h1 {
  @apply text-title-blue; /* color */
  margin-top: 4rem;
}

.sistema ._blurGroup {
  @media (max-width: 1640px) {
    top: -7rem;
  }
}

h4 {
  margin-top: 32px;
  @apply font-serif;
  @media (min-width: 1280px) {
    font-size: 27px;
    line-height: 40px;
  }
  @media (min-width: 1640px) {
    font-size: 31px;
    line-height: 46px;
  }
  font-size: 20px;
  line-height: 26px;
  @media (max-width: 1024px) {
    background-color: rgb(255, 255, 255, 0.8);
  }
}

p {
  @apply leading-loose; /* line height 2 */
  margin-bottom: 1.5rem;
}

p:last-child {
  margin-bottom: 0;
}

._buttonsRow {
  font-size: 14px;
}

._buttonsRow button {
  transition: all 0.2s;
}

._buttonsRow button:hover {
  @apply border-cyan-selected;
  @apply text-cyan-selected;
  box-shadow: inset 0px 0px 0px 1px #00a9a5; /* border-radius não anima direito */
}

._offset {
  height: 20vh;
}

._titlesSm {
  z-index: -1;
}

._contact-form {
  ._field {
    ::placeholder {
      @apply text-gray-default;
    }

    @apply border-b border-gray-default py-2 flex items-end;
    &:not(._ta) {
      height: 60px;
    }

    label {
      display: none;
    }
    input,
    textarea {
      @apply w-full;
      &:focus {
        outline: none;
      }
    }
  }
}

._fixednav {
  height: 110px;
}
@media (max-width: 1024px) {
  ._fixednav {
    height: 80px;
  }
}

/* purgecss end ignore */

@tailwind utilities;

/* purgecss start ignore */

html#simfaz_site {
  /* tamanho base (o sistema se baseia em rem's) */
  font-size: 18px;
}

/* my utilities here */
.text-shadow-hover {
  transition: all 0.3s;
}

.text-shadow-hover:hover {
  /* color: black; */
  text-shadow: 0 0 1px #8f8c87;
}

/* o preprecessador adiciona variantes sm: lg: md: etc... */
@responsive {
  .max-w-none {
    max-width: none;
  }
  .flex-grow-2 {
    flex-grow: 2;
  }
  .right-1 {
    right: 0.5rem;
  }
}

/* @media (min-width: 1280px) {
  .landing-bg {
    right: unset;
    left: 0;
  }
} */

#empresa ._leading {
  height: 1090px;
}
/* purgecss end ignore */

@media (min-width: 1023px) {
  section {
    padding-bottom: 500px;
  }
}

._content-text {
  background-color: rgb(255, 255, 255, 0.8);
}

._logo {
  width: 154px;
}

@media (max-width: 640px) {
  .container {
    max-width: unset;
    padding-left: 30px;
    padding-right: 30px;
  }
  ._logo {
    width: 120px;
  }
  ._content-text p {
    word-break: break-word;
    font-size: 15px;
  }
  ._iconsRow {
    flex-wrap: wrap;
    justify-content: center;
  }
  figure {
    max-width: 140px;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 10px;

    img {
      width: 44px;
    }
    figcaption {
      font-size: 12px;
    }
  }
  h1,
  h2 {
    font-size: 34px;
  }
}

._iconsRow {
  overflow: auto;
}

@media (min-width: 1280px) {
  ._slide.sistema ._blurGroup {
    right: 180px;
  }
  h4 {
    max-width: 890px;
  }
}

._slide.diagnostico ._blurGroup {
  right: -100px;
}
._slide.monitoramento ._blurGroup {
  right: -40px;
}
._slide.socioambiental ._blurGroup {
  right: 100px;
}
._slide.contato ._blurGroup {
  right: -400px;
  @media (max-width: 1640px) {
    right: -800px;
  }
}

._leadingcol {
  z-index: -1;
}
